.hyperlink:visited {
	-fx-text-fill: purple;
}

.button {
	-fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}

.list-view {
	-fx-border-width: 2px;
}

#questions {
	-fx-background-image: url('../gfx/icon_questions_dark.png');
	-fx-background-size: 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 0%;
}

#timer {
	-fx-background-image: url('../gfx/icon_timer_dark.png');
	-fx-background-size: 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 0%;
}

#star {
	-fx-background-image: url('../gfx/icon_star_dark.png');
	-fx-background-size: 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 0%;
}

#back {
	-fx-background-image: url('../gfx/icon_back_dark.png');
}

#settings {
	-fx-background-image: url('../gfx/icon_settings_dark.png');
}

#update {
	-fx-background-image: url('../gfx/icon_refresh_dark.png');
	-fx-background-size: 25px;
}

#info {
	-fx-background-image: url('../gfx/icon_info_dark.png');
}

#prev {
	-fx-background-image: url('../gfx/icon_prev_dark.png');
}

#next {
	-fx-background-image: url('../gfx/icon_next_dark.png');
}

#showQuestions {
	-fx-background-image: url('../gfx/icon_show_dark.png');
	-fx-background-size: 20px;
	-fx-background-radius: 5em;
	-fx-min-width: 25px;
	-fx-min-height: 25px;
   	-fx-max-width: 25px;
    -fx-max-height: 25px;
}