// Background: #202020
// Button Background: #404040

.root {
	-fx-background-color: #202020;
	-fx-text-fill: white;
}

.label {
	-fx-text-fill: white;
}

.hyperlink:visited {
	-fx-text-fill: #707070;
}

.text-field {
	-fx-background-color: #404040;
	-fx-text-fill: white;
}

.text-area {
	-fx-background-color: #404040;
  	-fx-focus-color: transparent;
	-fx-control-inner-background: #404040;
	-fx-text-fill: white;
	
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
}
.text-area .content {
    -fx-background-radius: 0 ;
}

.spinner {
	-fx-base: #404040;
}

.check-box {
	-fx-base: #404040;
}

.radio-button {
	-fx-base: #404040;
}

.button {
	-fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
    -fx-background-color: #404040;
	-fx-text-fill: white;
}

#star {
	-fx-background-image: url('../gfx/icon_star_light.png');
	-fx-background-size: 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 0%;
}

#back {
	-fx-background-image: url('../gfx/icon_back_light.png');
}

#settings {
	-fx-background-image: url('../gfx/icon_settings_light.png');
}

#info {
	-fx-background-image: url('../gfx/icon_info_light.png');
}

#prev {
	-fx-background-image: url('../gfx/icon_prev_light.png');
}

#next {
	-fx-background-image: url('../gfx/icon_next_light.png');
}

.dialog-pane {
    -fx-background-color: #202020;
}

.dialog-pane .label {
    -fx-text-fill: white;
}

.dialog-pane:header .header-panel {
    -fx-background-color: #202020;
}

/*.dialog-pane:header .header-panel .label {
    -fx-font-style: italic;
    -fx-font-size: 2em;
}*/